
.wed{
    position: relative;
}
.banner-img{
    width: 100%;
    z-index: 0;
    position: relative;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.wed-caption{
    position: absolute;
    width: 100%;
    padding-left: 5%;
    bottom: 0;
    z-index: 10;
}
.caption-img{
    width: 100%;
    max-width: 450px;
    margin-bottom: 30px;
}
.wed-caption p{
    max-width: 700px;
    font-size: 17px;
    color: white;
    margin-bottom: 20px;
}

.wed-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.wed-btns .btn img{
    width: 25px;
}

.wed-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.wed-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
}


.wed-btns .btn:hover {
    background:#ffffffbf;
}

.wed-btns .btn.dark-btn:hover {
    background: #6d6d6e66;
}

.more-cards{
    padding-left: 6%;
}
@media (max-width: 1024px){
    .wed-caption .title-cards{
        display: none;
    }
    .wed-btns{
        margin-bottom: 30px;
    }
}
@media (max-width: 800px){
    .wed-caption{
        padding-left: 4%;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .wed-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .wed-btns .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }
}
@media (max-width: 500px){
    .caption-img{
        display: none;
    }
    .wed-btns .btn img{
        width: 15px;
    }
    .wed-btns .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}